.swiper-slide-testimonial {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-testimonial img {
  display: block;
  width: 50px;
  height: 50px;
}